<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheResult="false">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">public</directory>
        </include>
        <exclude>
            <!-- Exclude entrypoints and scripts not meant for testing -->
            <file suffix=".php">public/index</file>
            <file suffix=".php">public/View/view</file>
        </exclude>
        <report>
            <html outputDirectory="build/coverage-html"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>